body{
     margin: 10px;
     padding: 10px;
     font-family: 'Times New Roman', Times, serif;
     min-width: 400px;
}

input{
     width: 100%;
     padding: 10px 10px;
     box-sizing: border-box;
     border: 2px solid rgb(95, 150, 11) ;
     border-radius: 2px;
}

button{
     padding: 11px 20px;
     margin-top: 4px;
     color: white;
     font-size: medium;
     font-weight: bold;
     background-color: rgb(95, 150, 11) ;
     border: 2px solid white;
     cursor: pointer;

}

ul{
     margin-top: 20px;
     list-style: none;
     padding-left: 0;
}

li{
     margin-top: 5px;
}

li a{
     color: #5f9341;
     font-size: large;
}

#delete-btn{
     padding: 9px;
     background-color: white;
      color: #5f9341;
      border: 2px solid #5f9341;
}