body{
     margin: 4px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: wheat;
}

.main{
     display: flex;
     background-color:rgb(73, 73, 220);
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 40px;
}

button{
     margin-top: 20px;
     background-color: white;
     padding: 10px 40px;
     border: 2px solid white ;
     border-radius: 3px;

}

input{
     height: 100px;
     width: 150px;
     text-align: center;
     font: bold;
     font-size: 100px;
}

#ul-li{
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   margin-right: 40px;

}

li{
     justify-content: space-around;
      background-color: rgb(241, 237, 229);
      width: 420px;
}