body{
   
   
   font-family: "Outfit", sans-serif;
}

.bg-uni{
     background-image: url("versity.jpg");
     background-size: cover;
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
}

.bg-uni h1{
     background-color: rgb(66, 121, 121);
     color: white;
     padding: 2px 4px;
     margin-left:auto ;
     margin-right:auto ;
     margin-bottom: 0px;
}

.bg-uni h4{
     background-color: cadetblue;
     color: white;
     margin-left:auto;
     margin-right: auto;
     padding: 2px;
}

.uni-act{
     background-color: rgb(237, 235, 231);
     text-align: center;
     height: 400px;
     padding: 2px;
}

.uni-subj{
     display: flex;
     padding-top: 30px;
}

.uni-subj img{
     width: 100px;
     height: 100px;
     border-radius:50%;
}

.profile-card{
     background-color: whitesmoke;
     height: 400px;
     padding: 2px;
     display: flex;
     justify-content: center;
     align-items: center;

}

.cardu {
     background-color: rgb(181, 181, 227);
     display: flex;
     justify-content: center;
     align-items: start;
     text-align: center;
     margin: auto;
     padding: 15px;
     margin-right: 100px;
     margin-left: 100px;
     gap: 10px;
     border-bottom: 7px solid rgb(66, 66, 155);
}
.profile-card img{
     height: 250px;
     width: 250px;
     border-radius: 4px;
}